body {
    background-color: #ffe3b5;
  }
  .clock {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #002560;
    border-radius: 50%;
    border: 10px solid white;
    margin: 2em auto;
  }
  
  #twelve {
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    left: 49%;
  }
  #one {
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    left: 70%;
    top: 4%;
    transform: rotate(30deg);
  }
  #two {
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    left: 88%;
    top: 22%;
    transform: rotate(60deg);
  }
  #three {
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    right: 0.8em;
    top: 45%;
    transform: rotate(90deg);
  }
  #four {
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    left: 88%;
    bottom: 22%;
    transform: rotate(-60deg);
  }
  #five {
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    left: 70%;
    bottom: 4%;
    transform: rotate(-30deg);
  }
  #six {
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    left: 49%;
    bottom: 0;
  }
  #seven {
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    right: 70%;
    bottom: 4%;
    transform: rotate(30deg);
  }
  #eight {
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    right: 88%;
    bottom: 20%;
    transform: rotate(60deg);
  }
  #nine {
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    left: 0.8em;
    top: 45%;
    transform: rotate(90deg);
  }
  #ten {
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    right: 88%;
    top: 22%;
    transform: rotate(-60deg);
  }
  #eleven {
    width: 4px;
    height: 30px;
    background-color: white;
    position: absolute;
    right: 70%;
    top: 4%;
    transform: rotate(-30deg);
  }
  
  #middle {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    margin: 47%;
    z-index: 2;
  }
  #small {
    width: 6px;
    height: 50px;
    background-color: #ffe3b5;
    position: absolute;
    top: 32%;
    left: 55%;
    transform: rotate(40deg);
  }
  #large {
    width: 6px;
    height: 100px;
    background-color: #ffe3b5;
    position: absolute;
    top: 8%;
    left: 49%;
    transform: rotate(112deg);
    transform-origin: 0 100%;
  }
